<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PayDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B0BBECEE1D460FB900421DA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0BBED071D460FBA00421DA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0BBED121D460FBA00421DA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
